:root{
    --regular-font-style: "DMSans-Regular";
    --regular-font-size: 1.2rem;
}
header{
    position:absolute;
    top: 0;
    left: 0;
    padding: 2rem  0 0;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #fff;
}
.logo{
    margin:2rem;
}

.menu{
    margin: 2rem;
    display:flex;
    gap: 2rem;

}
.menu li{
    color: white;
    list-style: none;
    cursor: pointer;
    font-size: var(--regular-font-size);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 0.5px solid transparent;
    transition: border-bottom 0.2s;
}
.menu li:hover{
    border-bottom: 0.5px solid #fff;
}
