@import url('https://fonts.googleapis.com/css?family=DM Sans');
.hero-container{
    overflow: hidden; /** To avoid scroll action horizontally*/
    position:absolute;
    top: 200px;
    left: 90px;
    max-width: 800px;
    z-index: 1;
    color: #fff;
    font-family: 'DM Sans';

}
.hero-container h1{
    font-size: 3.5rem;
    font-weight: 200;

}
.hero-container p{
    font-size: 1.5rem;
}
