
.header-hero-content{
    height: 100vh;
    overflow: hidden;
    margin:0;
    padding: 0;


}
.background-image{
    background-image:url('https://res.cloudinary.com/dyl3rncv3/image/upload/c_scale,q_90,w_2400/v1681285764/elewa-group-website/hero-Images/home-page-bg-min_jfkopo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter:brightness(0.7);
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
